@use "variables.scss" as v;
@use "mixins.scss" as m;
.text-primary-400 {
  color: v.$clr-neutral-500;
}

.text-color-350 {
  color: v.$clr-neutral-400;
}

.text-primary-300 {
  color: v.$accent-clr-300;
}

.text-accent-500 {
  color: v.$accent-clr-500;
}

.text-accent-450 {
  color: v.$accent-clr-450;
}

.text-neutral-100 {
  color: v.$clr-neutral-100;
}

.text-neutral-900 {
  color: v.$clr-neutral-400;
}

.bg-primary-900 {
  background-color: v.$clr-primary-900;
}

.bg-neutral-100 {
  background-color: v.$clr-neutral-100;
}

.bg-primary-100 {
  background-color: v.$clr-primary-100;
}

.bg-accent-500 {
  background-color: v.$accent-clr-500;
}

.bg-accent-150 {
  background-color: v.$accent-clr-450;
}

.fw-super-bold {
  font-weight: v.$fw-super-bold;
}

.fw-bold {
  font-weight: v.$fw-bold;
}

.fw-semi-bold {
  font-weight: v.$fw-semi-bold;
}

.fw-regular {
  font-weight: v.$fw-regular;
}

.fs-primary-heading {
  font-size: v.$fs-primary-heading;
  line-height: 1.35;
  @include m.xs{
    font-size: v.$fs-secondary-heading ;
    line-height: v.$line-height-o;
  }
}

.fs-secondary-heading {
  font-size: v.$fs-secondary-heading;
  @include m.xs{
    font-size: v.$fs-600;
    line-height: v.$line-height-m;
    width:18ch
  }
}

.fs-button {
  font-size: v.$fs-button;
}

.fs-200 {
  font-size: v.$fs-200;
}

.fs-250 {
  font-size: v.$fs-250;
}

.fs-350 {
  font-size: v.$fs-body;
}

.fs-400 {
  font-size: v.$fs-400;
}

.fs-500 {
  font-size: v.$fs-500;
}

.fs-600 {
  font-size: v.$fs-600;
}

.padding-block-900 {
  padding-block: v.$size-900;
}

.padding-inline-900 {
  padding-inline: v.$size-900;
}

.padding-block-700 {
  padding-block: v.$size-700;
}

.padding-inline-700 {
  padding-inline: v.$size-700;
}

.padding-block-500 {
  padding-block: v.$size-500;
}

.padding-inline-500 {
  padding-inline: v.$size-500;
}

.padding-block-400 {
  padding-block: v.$size-400;
}
.padding-block-300 {
  padding-block: v.$size-300;
}
.padding-block-200{
  padding-block: v.$size-200;
}
.padding-inline-400 {
  padding-inline: v.$size-400;
}
.single-padding-600 {
  padding-top: v.$size-600;
}
.single-padding-700 {
  padding-top: v.$size-700;
}
.single-padding-900 {
  padding-top: v.$size-900;
}
.single-padding-bottom-600 {
  padding-bottom: v.$size-600;
}
.single-margin-block-200 {
  margin-block: v.$size-800;
}

.single-margin-block-100 {
  margin-block: v.$size-600;
}
.single-margin-top-600 {
  margin-top: v.$size-600;
}
.single-margin-top-1000 {
  margin-top: 6em;
}
.single-margin-right-200 {
  margin-right: 2em;
}
.basic-flex-settings {
  @include m.basic-flex-settings;
}

.letter-spacing-30 {
  letter-spacing: v.$letter-spacing-30;
}
.zindex-100 {
  z-index: v.$z-index-1000;
}

.zindex-50 {
  z-index: v.$z-index-500;
}
.zindex-0 {
  z-index: v.$z-index-0;
}
.line-height-xs {
  line-height: v.$line-height-xs;
}
.line-height-s {
  line-height: v.$line-height-s;
}
.line-height-z {
  line-height: v.$line-height-z;
}
.line-height-m {
  line-height: v.$line-height-m;
}
.line-height-o {
  line-height: v.$line-height-o;
}

.paragraph-length {
  max-width: 47ch;
}

.btn-box-shadow {
  @include m.main-box-shadow;
}
.heading-length{
  max-width: 22ch;
}
.founder-words{
  width: 23ch
}