@use 'variables.scss' as v;
@use 'mixins.scss' as m;
.text-primary-400 {
  color: v.$clr-neutral-500;
}

.text-color-350 {
  color: v.$clr-neutral-400;
}

.text-primary-300 {
  color: v.$accent-clr-300;
}

.text-accent-500 {
  color: v.$accent-clr-500;
}

.text-accent-450 {
  color: v.$accent-clr-450;
}

.text-neutral-100 {
  color: v.$clr-neutral-100;
}

.text-neutral-900 {
  color: v.$clr-neutral-400;
}

.bg-primary-900 {
  background-color: v.$clr-primary-900;
}

.bg-neutral-100 {
  background-color: v.$clr-neutral-100;
}

.bg-primary-100 {
  background-color: v.$clr-primary-100;
}

.bg-accent-500 {
  background-color: v.$accent-clr-500;
}

.bg-accent-150 {
  background-color: v.$accent-clr-450;
}

.bg-neutral-200 {
  background-color: v.$accent-clr-100;
}

.fw-super-bold {
  font-weight: v.$fw-super-bold;
}

.fw-bold {
  font-weight: v.$fw-bold;
}

.fw-semi-bold {
  font-weight: v.$fw-semi-bold;
}

.fw-regular {
  font-weight: v.$fw-regular;
}

.fs-primary-heading {
  font-size: v.$fs-primary-heading;
  line-height: 1.35;

}

.fs-secondary-heading {
  font-size: v.$fs-secondary-heading;
  line-height: 1.1;
}

.fs-button {
  font-size: v.$fs-button;
}

.fs-200 {
  font-size: v.$fs-200;
}

.fs-250 {
  font-size: v.$fs-250;
}

.fs-350 {
  font-size: v.$fs-body;
}

.fs-400 {
  font-size: v.$fs-400;
}

.fs-500 {
  font-size: v.$fs-500;
}

.fs-600 {
  font-size: v.$fs-600;
}

.padding-block-900 {
  padding-block: v.$size-900;
}

.padding-inline-900 {
  padding-inline: v.$size-900;
}

.padding-block-700 {
  padding-block: v.$size-700;
}

.padding-inline-700 {
  padding-inline: v.$size-700;
}

.padding-block-500 {
  padding-block: v.$size-500;
}

.padding-inline-500 {
  padding-inline: v.$size-500;
}

.padding-block-400 {
  padding-block: v.$size-400;
}

.padding-inline-400 {
  padding-inline: v.$size-400;
}
.padding-block-300{
  padding-block: v.$size-300;
}
.single-padding-700 {
  padding-top: v.$size-700;
}
.single-padding-900 {
  padding-top: v.$size-900;
}
.single-margin-block-200{
  margin-block: v.$size-800;
}

.single-margin-block-100{
  margin-block: v.$size-600;
}
.basic-flex-settings {
 @include m.basic-flex-settings;
}