/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list 
styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*16px*/
.text-primary-400 {
  color: rgb(57, 20, 0);
}

.text-color-350 {
  color: rgba(57, 20, 0, 0.64);
}

.text-primary-300 {
  color: rgba(255, 255, 255, 0.64);
}

.text-accent-500 {
  color: rgb(239, 109, 88);
}

.text-accent-450 {
  color: rgb(239, 109, 87);
}

.text-neutral-100 {
  color: rgb(255, 255, 255);
}

.text-neutral-900 {
  color: rgba(57, 20, 0, 0.64);
}

.bg-primary-900 {
  background-color: rgb(40, 41, 62);
}

.bg-neutral-100 {
  background-color: rgb(255, 255, 255);
}

.bg-primary-100 {
  background-color: rgb(253, 240, 233);
}

.bg-accent-500 {
  background-color: rgb(239, 109, 88);
}

.bg-accent-150 {
  background-color: rgb(239, 109, 87);
}

.bg-neutral-200 {
  background-color: rgb(243, 209, 191);
}

.fw-super-bold {
  font-weight: 900;
}

.fw-bold {
  font-weight: 800;
}

.fw-semi-bold {
  font-weight: 700;
}

.fw-regular {
  font-weight: 400;
}

.fs-primary-heading {
  font-size: 3.5rem;
  line-height: 1.35;
}

.fs-secondary-heading {
  font-size: 4rem;
  line-height: 1.1;
}

.fs-button {
  font-size: 0.75rem;
}

.fs-200 {
  font-size: 0.75rem;
}

.fs-250 {
  font-size: 0.875rem;
}

.fs-350 {
  font-size: 1rem;
}

.fs-400 {
  font-size: 1.25rem;
}

.fs-500 {
  font-size: 1.5rem;
}

.fs-600 {
  font-size: 2.5rem;
}

.padding-block-900 {
  padding-block: 5rem;
}

.padding-inline-900 {
  padding-inline: 5rem;
}

.padding-block-700 {
  padding-block: 3rem;
}

.padding-inline-700 {
  padding-inline: 3rem;
}

.padding-block-500 {
  padding-block: 1.5rem;
}

.padding-inline-500 {
  padding-inline: 1.5rem;
}

.padding-block-400 {
  padding-block: 1rem;
}

.padding-inline-400 {
  padding-inline: 1rem;
}

.padding-block-300 {
  padding-block: 0.75rem;
}

.single-padding-700 {
  padding-top: 3rem;
}

.single-padding-900 {
  padding-top: 5rem;
}

.single-margin-block-200 {
  margin-block: 4rem;
}

.single-margin-block-100 {
  margin-block: 2rem;
}

.basic-flex-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 1rem;
  font-family: "Epilogue", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 1rem;
  width: calc(min(1170px, 100% - 1rem) * 2);
  margin-inline: auto;
}

.container-flex {
  display: flex;
  gap: 1rem;
}

.gap {
  gap: 5rem;
}

.primary-btn {
  border-radius: 6px;
  border: none;
  padding: 1.125em 2em;
  font-weight: 900;
  font-size: 0.75rem;
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: clamp(1.5rem, 5vw, 5rem);
}
.nav-list li :hover {
  color: rgb(239, 109, 88);
}
.nav-list li :active {
  color: rgba(255, 255, 255, 0.64);
}
.nav-list li a {
  color: rgb(255, 255, 255);
  text-align: center;
}

.portfolio-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
}

.hero-quote-idea {
  display: flex;
  padding-top: 9.5em;
}

.hero-quote {
  display: flex;
  flex-direction: column;
}

.primary-heading-decoration::before {
  content: url("/assets/star-outlined.svg");
  opacity: 0.5;
  position: absolute;
  left: 25.5%;
  top: 33.5%;
}

.decoration-neutral {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.uppercased {
  text-transform: uppercase;
}

.divider-100 {
  height: 1px;
  width: 100%;
  background-color: rgb(243, 209, 191);
  margin-top: 2.5rem;
}

.divider-900 {
  background-color: rgba(213, 174, 133, 0.57);
  height: 1px;
  width: 100%;
  margin-top: 2.5rem;
}

.rounded-rectangle {
  border-radius: 19px;
  width: 15ch;
  text-align: center;
  padding: 0.5rem;
}

.centered {
  grid-column: 3/4;
  margin-right: 1.5rem;
}

.decoration-quote::before {
  content: url("/assets/quote.svg");
  position: absolute;
  left: 80%;
  opacity: 0.7;
}

.odd-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 2fr);
  border: 1px solid rgba(213, 174, 133, 0.57);
}
.odd-columns .odd-columns-child {
  padding-block: 3rem;
  padding-left: 2rem;
}
.odd-columns .odd-columns-child:nth-child(2) {
  border-left: 1px solid rgba(213, 174, 133, 0.57);
  border-right: 1px solid rgba(213, 174, 133, 0.57);
}

.odd-colummns-features {
  display: grid;
  gap: 1rem;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.odd-colummns-features div:nth-child(1) {
  padding-right: 1rem;
}
.odd-colummns-features div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5rem;
  height: 336px;
}
.odd-colummns-features div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 10%;
  height: 272px;
  border: 1px solid rgba(213, 174, 133, 0.57);
}
.odd-colummns-features div:nth-child(3) > h4 {
  margin-top: 40px;
}

.check-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.check-list li::before {
  content: url("/assets/check-mark.svg");
  padding-right: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 10px;
}

.video-controlls {
  position: relative;
}
.video-controlls:before {
  content: url("/assets/play-arrow.svg");
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 24.5%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%) contrast(100%);
  opacity: 1;
}
.video-controlls:after {
  content: "";
  width: 100px;
  height: 100px;
  top: 50%;
  left: 25%;
  border: 3px solid rgb(243, 209, 191);
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.video-length:after {
  content: "1:45";
  position: absolute;
  height: 20px;
  width: 40px;
  color: black;
  top: 73%;
  left: 5%;
  background: #ddd;
  text-align: center;
  border: 6px;
  opacity: 0.5;
}

.service-idea {
  display: flex;
}

.portfolio-card-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}
.portfolio-card-wrapper .portfolio-card {
  height: 416px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.portfolio-card-wrapper .portfolio-card:nth-of-type(1) {
  background-image: url("/assets/sofa.svg");
  grid-column: 1/3;
  border-radius: 6px;
}
.portfolio-card-wrapper .portfolio-card:nth-of-type(2) {
  background-image: url("/assets/key-board.svg");
  grid-column: 3/-1;
  margin-left: 1.2rem;
  border-radius: 6px;
}
.portfolio-card-wrapper .portfolio-card:nth-of-type(3) {
  background-image: url("/assets/work-media.svg");
  grid-column: 1/4;
  grid-row: 2/3;
  border-radius: 6px;
}
.portfolio-card-wrapper .portfolio-card:nth-of-type(4) {
  background-image: url("/assets/dddone.svg");
  grid-column: 4/-1;
  grid-row: 2/3;
  border-radius: 6px;
}
.portfolio-card-wrapper .portfolio-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  max-width: 116px;
  display: flex;
  align-items: center;
  border-radius: 19px;
}

.consultant-banner {
  background-color: rgb(253, 240, 233);
  height: 336px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.banner-description {
  margin-left: 5rem;
  position: relative;
}
.banner-description::after {
  content: url("/assets/star-filled.svg");
  width: 100%;
  position: absolute;
  top: -10em;
  left: 0;
}

.banner-consultant-expert {
  grid-column: 3/4;
  position: absolute;
  top: -4rem;
  right: 20%;
  z-index: 100;
}
.banner-consultant-expert::before {
  content: url("/assets/cloud.svg");
  position: absolute;
  z-index: -1;
  top: 25%;
  right: 5%;
}

.events-board {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.events-board .event-date {
  display: flex;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-inline: 3rem;
  padding-block: 1.125em 2em;
}
.events-board .event-date.event-month {
  display: flex;
  flex-direction: column;
  margin-top: -0.2rem;
  text-align: left;
}
.events-board .event-date.event-month.event-number-day {
  line-height: 1.2;
  margin-top: -4rem;
}
.events-board .event-date:nth-child(2) :nth-child(2):nth-child(2) {
  padding-left: 0;
}
.events-board .event-date .event-duration {
  margin-left: -55px;
  padding-left: 1.5rem;
}
.events-board .event-date .event-duration::before {
  content: url("/assets/clock-solid.svg");
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}

.slider {
  display: flex;
  gap: 0.25rem;
  list-style: none;
}

.slider > * {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
}

.slider img {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 220px;
  width: 270px;
  position: relative;
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
  margin: 0 0 2em;
  padding: 0;
}

.a11y-slider-dots li {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  border: 1px rgba(255, 255, 255, 0.3) solid !important;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.a11y-slider-dots li button.active {
  background-color: rgb(239, 109, 88);
}

.a11y-slider-prev {
  color: transparent;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 0.75rem;
  top: -100px;
}

.a11y-slider-next {
  color: transparent;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 5rem;
  top: -100px;
}

.a11y-slider-prev:before {
  content: url("/assets/arrow-right-solid.svg");
  position: absolute;
  top: 10px;
  left: 18px;
}

.a11y-slider-next:before {
  content: url("/assets/arrow-left-solid.svg");
  position: absolute;
  top: 10px;
  right: 18px;
}

/* testimotials */
.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: ".one two." ".three four. ";
}
.testimonials-grid .testimonial {
  border: 1px solid rgba(213, 174, 133, 0.57);
  padding-inline: 3rem;
  padding-block: 2.5rem;
}
.testimonials-grid .testimonial.testimonial-content {
  width: clamp(45ch, 50%, 75ch);
}
.testimonials-grid .testimonial:nth-of-type(1) {
  grid-area: one;
  height: 400px;
}
.testimonials-grid .testimonial:nth-of-type(2) {
  grid-area: two;
  height: 336px;
}
.testimonials-grid .testimonial:nth-of-type(3) {
  grid-area: three;
  height: 336px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.testimonials-grid .testimonial:nth-of-type(4) {
  grid-area: four;
  height: 336px;
  margin-top: -4rem;
  border-bottom-right-radius: 6px;
}

.testimonial-user {
  display: flex;
  align-items: center;
}
.testimonial-user img {
  margin-right: 1rem;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pricing-grid__plan {
  border: 1px solid rgba(213, 174, 133, 0.57);
  height: 512px;
}
.pricing-grid__plan:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pricing-grid__plan:nth-of-type(2) {
  height: 560px;
  margin-top: -48px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.pricing-grid__plan:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pricing-grid__list {
  list-style: none;
}
.pricing-grid__list li::before {
  content: url("/assets/checkbox.svg");
  padding-right: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 3px;
}

.FAQ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.FAQ__questions {
  border-radius: 6px;
  border: 1px solid rgba(213, 174, 133, 0.57);
}
.FAQ__questions div {
  padding-inline: 2rem;
  padding-block: 2rem;
  border-top: 1px solid rgba(213, 174, 133, 0.57);
  position: relative;
}
.FAQ__questions div:first-of-type {
  background-color: rgb(253, 240, 233);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.FAQ__title::after {
  content: url("/assets/up.svg");
  padding-right: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  right: 20px;
  top: 0px;
  rotate: 180deg;
}
.FAQ__title--first::after {
  rotate: 0deg;
  right: 0px;
  top: 25px;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-articles {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.blog-articles__singleArtcile {
  position: relative;
}
.blog-articles__singleArticle::before {
  content: url("/assets/stories-article.svg");
}
.blog-articles__singleArticle:nth-of-type(2)::before {
  content: url("/assets/design-article.svg");
}
.blog-articles__singleArticle:nth-of-type(3)::before {
  content: url("/assets/marketing-article.svg");
}

.newsletter input {
  padding-block: 0.65rem;
  margin-right: 1.3rem;
  border: 1px solid rgba(213, 174, 133, 0.57);
}

.map {
  position: relative;
}

.map-section {
  filter: grayscale(15%) sepia(69%) blur(1px) brightness(50%) hue-rotate(344deg) saturate(214%) contrast(163%);
  -webkit-filter: grayscale(15%) sepia(69%) blur(1px) brightness(50%) hue-rotate(344deg) saturate(214%) contrast(163%);
  -moz-filter: grayscale(15%) sepia(69%) blur(1px) brightness(50%) hue-rotate(344deg) saturate(214%) contrast(163%);
}

.map-form {
  position: absolute;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  top: 20%;
  gap: 1rem;
  background-color: rgb(253, 240, 233);
  border-radius: 6px;
}

.form-label {
  position: relative;
  display: inline-block;
}

.form-field {
  border: 1px solid rgb(243, 209, 191);
  padding-block: 0.5rem;
  border-radius: 6px;
  position: relative;
}

/* .form-field:nth-of-type option(2){
    background-color: #fff;
  } */
.contact-date {
  display: flex;
  border: 1px solid red;
}

@media (min-width: 30em) {
  .slider > * {
    width: 50%;
  }
}
@media (min-width: 50em) {
  .slider > * {
    width: 37%;
  }
}
@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}/*# sourceMappingURL=index.css.map */