@use 'variables.scss' as v;

@mixin primary-btn {
    border-radius: v.$radius;
    border: v.$border-none;
    padding: v.$button-size;
    font-weight: v.$fw-super-bold;
    font-size: v.$fs-button;
    cursor: pointer;
}
@mixin horizontal-desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin basic-flex-settings {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin grid-basic-settings {
    display: grid;
    gap: 1rem;
}