
@use 'reset.scss' as r;
@use 'variables.scss' as v;
@use 'basic-classes.scss' as b;
@use 'mixins.scss' as m;


body {
    font-size: v.$fs-body;
    font-family: v.$ff-family-primary;
}
//utilities 

//container
.container {
    max-width: v.$max-width;
    padding: v.$size-400;
    // width: (min(v.$max-width), 100% - v.$size-400) * 2; error here <-- tutaj wywala błąd ponieważ masz przecinek, podejrzewam że miał być plus albo minus
    margin-inline: auto;
}

.container-flex {
    display: flex;
    gap: 1rem;
}

//button
.primary-btn {
    @include m.primary-btn;
}

//navigation 
.nav-wrapper {
    @include m.basic-flex-settings;
}

.nav-list {
    display: flex;
    gap: clamp((v.$size-500), 5vw, v.$size-900);
}

//hero section 

.hero-quote-idea {
    display: flex;
    padding-top: 9.5em;
}

.hero-quote {
    @include m.flex-column
}

//decorators 

.decoration-neutral {
    background-color: transparent;
    border: v.$border-100 solid v.$accent-clr-400;
}

.uppercased {
    text-transform: uppercase;
}

.divider {
    height: v.$border-100;
    width: 100%;
    background-color: v.$accent-clr-100;
    margin-top: v.$fs-600;
}
.check-list li::before {
    content: url("/assets/check-mark.svg");
  }
//4 image gallery onblue background
.photo-grid {
    @include m.grid-basic-settings;
}

//do zmienienia 

.portfolio-card:nth-of-type(1) {
    background-image: url("assets/sofa.svg");
    background-repeat: no-repeat;
  
  }
  
  .portfolio-card:nth-of-type(2) {
    background-image: url("assets/key-board.svg");
    background-repeat: no-repeat;
  
  }
  
  .portfolio-card:nth-of-type(3) {
    background-image: url("assets/work-media.svg");
  
  }
  
  .portfolio-card:nth-of-type(4) {
    background-image: url("assets/dddone.svg");
    background-repeat: no-repeat;
  
  }
  
  .portfolio-card-title {
    height: 38px;
    max-width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
  }

  
//media queries 

@media (min-width: 50em) {
    :root {
        $fs-primary-heading: v.$fs-900;
        $fs-secondary-heading: v.$fs-800;
    }
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}